@keyframes type-out {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@keyframes leave-splash {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
}

.splash {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
  background-color: transparent;
  animation: leave-splash 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.splash div span {
    font-size: 115px;
    font-weight: 600;
    color: white
}

.splash div {
  background-color: rgba(255, 255, 255, 0.042);
  padding: 10px;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  animation: fade-in-todo 1s;
}
  
  .splash div span:nth-child(1) {
    animation: type-out 1s;
    animation-fill-mode: both;
    animation-delay: .1s;
  }
  
  .splash div span:nth-child(2) {
    animation: type-out 1s;
    animation-delay: .25s;
    animation-fill-mode: both;
  }
  
  .splash div span:nth-child(3) {
    animation: type-out 1s;
    animation-delay: .35s;
    animation-fill-mode: both;
  }
  
  .splash div span:nth-child(4) {
    animation: type-out 1s;
    animation-delay: .45s;
    animation-fill-mode: both;
  }
  
  .splash div span:nth-child(5) {
    animation: type-out 1s;
    animation-delay: .55s;
    animation-fill-mode: both;
  }
  
  .splash div span:nth-child(6) {
    animation: type-out 1s;
    animation-delay: .65s;
    animation-fill-mode: both;
  }
  
  .splash div span:nth-child(7) {
    animation: type-out 1s;
    animation-delay: .75s;
    animation-fill-mode: both;
  }
  