* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    color: white;
    margin: 0;
    padding: 0;
}

body {
    align-content: center;
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/042/415/777/original/oliver-goodenough-ezgif-com-gif-maker.gif?1634468806');
    background-size: cover;
    overflow-y: hidden;
}

@keyframes fade-in-todo {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out-todo {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes move-out-todo {
    /*
    Using position absolute here fakes the effect of the element no longer taking up space,
    basically a bandaid on the fact that the display prop isn't animatable, thanks CSS.
    */
    from {
        position: absolute;
        transform: translateX(0vw);
    }
    to {
        position: absolute;
        transform: translateX(-100vw);
    }
}

@keyframes expand-header-after {
    from {
        width: 0vw;
    }
    to {
        width: 32vw;
    }
}

@keyframes enter {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

@keyframes move-in {
    from {
        transform: translatey(-50vh);
    }
    to {
        transform: translatey(0vh);
    }
}

@keyframes leave {
    from {
        transform: translatex(0);
    }
    to {
        transform: translatex(60vw);
    }
}

@keyframes move-up-nav {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-25vw);
    }
}

#navSource {
    text-align: center;
    height: 5vh;
    display: flex;
    align-items: center;
    padding: 4px;
}

#SubButton {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 3px;
    height: 4vh;
    width: 4vw;
    padding: 0px;
    align-self: center;
}

#SubItemCreator {
    display: flex;
    flex-direction: row;
}

.moveInAnim {
    animation: move-in 1s;
}

.todoMain.LinkClickTransition,  .moveInAnim.LinkClickTransition{
    animation: move-down 1s;
}

.navbar.NavBarClickTransition {
    animation: move-up-nav 1s;
}

.SubItemContainer {
    border: 2px solid white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    display: none;
    transition: transform;
}

.SubItemContainerShow {
    height: 200px;
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    margin: 10px;
    align-items: center;
    border-radius: 5px;
    animation: fly-in-right 1s;
    animation-fill-mode: both;
    overflow-y: scroll;
}

.SubItemContainerClosing {
    animation: leave 1s;
}

#completeButton {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    width: 10vw;
    height: 6vh;
}

#subCompleteButton {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 0.1em;
    width: 7vw;
    height: 4vh;
}

.MCEMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    margin: 0;
    padding: 0;
}

.navbar {
    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    width: 100%;
    justify-content: space-between;
    height: 7.5vh;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.03);
    border: 1.5px solid rgba(255, 255, 255, 0.655);
    animation: fade-in-todo 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.navbar button, .navbar a {
    background-color: rgb(89, 189, 255);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    width: fit-content;
    height: 5vh;
    border-radius: 6px;
    border: 2px solid rgb(255, 255, 255);
    margin: 0px 5px;
}

.RouterLink {
    color:rgb(89, 189, 255);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-size: 1em;
    transition: transform 1s;
}

.RouterLink:hover {
    text-decoration: underline;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    background-color: rgb(42, 135, 197);
}

.creatorForm {
    width: 30vw;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.todoInput {
    margin: 5px;
    border: 1.5px solid rgb(255, 255, 255);
    color: white;
    background-color: rgba(128, 128, 128, 0);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.todoInput[type='text'] {
    backdrop-filter: blur(8px);
    width: 20vw;
    height: 6vh;
    border-radius: 8px;
    min-width: 10vw;
    font-size: 2vw;
    font-weight: 500;
    animation: fade-in-todo 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
    transition: transform 1s;
    padding: 10px;
    cursor: text;
}

.todoInput[type='text']:hover {
    transform: translateY(-10px);
}

.todoInput[type='text']:focus {
    border: 2px solid rgb(0, 102, 255);
}

.todoInput[type='submit'] {
    background-color: rgb(89, 189, 255);
    color: rgb(255, 255, 255);
    width: 10vw;
    height: 6vh;
    border-radius: 8px;
    animation: fade-in-todo 1s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    transition: transform 1s;
}

.todoInput[type='submit']:hover {
    transform: scale(1.1);
    background-color: rgb(42, 135, 197);
}

.todoInput[type='button'] {
    background-color: rgb(89, 189, 255);
    color: rgb(55, 198, 255);
    width: fit-content;
    height: 5vh;
    border-radius: 8px;
    animation: fade-in-todo 1s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    transition: transform 1s;
}

.todoInput[type='button']:hover {
    transform: scale(1.1);
    background-color: rgb(42, 135, 197);
}

input[type='button'] {
    background-color: rgb(89, 189, 255);
    color: rgb(255, 255, 255);
    width: fit-content;
    border: 1.5px solid rgb(255, 255, 255);
    height: 5vh;
    border-radius: 8px;
    transition: transform 1s;
}

.SubMenuButton {
    background-color: rgb(89, 189, 255);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: rgb(255, 255, 255);
    width: fit-content;
    border: 1.5px solid rgb(255, 255, 255);
    height: 6vh;
    border-radius: 8px;
    animation: fade-in-todo 1s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    transition: transform 1s;
}

.SubMenuButton:hover {
    transform: scale(1.1);
    text-decoration: underline;
    background-color: rgb(42, 135, 197);
}


input[type='button']:hover {
    transform: scale(1.1);
    background-color: rgb(42, 135, 197);
}

input:active {
    border: 3px solid rgb(0, 102, 255);
}

.todoSpan {
    height: 3vw;
    width: 32vw;
    white-space: nowrap;
    margin: 0;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.todoSpan::after {
    content: "";
    height: 3px;
    border-radius: 5px;
    width: 32vw;
    background-color: rgb(89, 189, 255);
    animation: expand-header-after 1s;
    animation-fill-mode: backwards;
    animation-delay: 2s;
}


.todoMain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: move-in 1s;
}

.displayList {
    display: flex;
    justify-content: center;
}

.innerDisplayList {
    display: flex;
    animation: fade-in-todo 1s;
    animation-fill-mode: both;
    flex-direction: column;
    align-items: flex-start;
}

.innerDisplayListHide {
    animation: move-out-todo 2s;
    animation-fill-mode: both;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}

.creator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin: 10px;
}

.display {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    width: 45vw;
    height: 55vh;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.043);
    backdrop-filter: blur(8px);
    border-radius: 5px;
    border: 1.5px solid rgb(255, 255, 255);
    align-self: center;
    overflow: scroll;
}

.ListItemValue {
    backdrop-filter: blur(8px);
    background-color: rgb(89, 189, 255);
    border: 2px solid rgb(255, 255, 255);
    font-size: 2vw;
    width: fit-content;
    margin: 2px;
    border-radius: 8px;
}

.listItem {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 5px;
    color: rgb(245, 245, 245);
    font-size: 30px;
}

.listItem label {
    display: flex;
    align-items: center;
}

.listItem input[type='checkbox'] {
    width: 2vw;
    height: 2vw;
}